@use "global" as *;

.blog-main-menu {
    width: calc(333 / 345) * 100%;
    margin-inline: auto;
    @include mq("md") {
        width: calc(706 / 1080) * 100%;
    }
}

.blog-main-menu__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 1fr);
    grid-row-gap: rem(40);
    @include mq("md") {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: rem(40);
        grid-row-gap: rem(80);
    }
}
