@use "global" as *;

.drawer-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.drawer__menu-list {
    margin-top: rem(28);
}

.drawer-menu__left {
    padding-left: rem(20);
}

.drawer-menu__right {
    padding-left: rem(20);
    margin-left: rem(3);
}

.drawer-menu__items:nth-child(n + 2):nth-child(-n + 4),
.drawer-menu__items:nth-child(n + 6) {
    margin-top: rem(16);
}

.drawer-menu__item {
    color: $white;
    font-size: rem(16);
    font-weight: $regular;
    line-height: calc(18 / 16);
}

.drawer-menu__item-head a,
.drawer-menu__item a {
    display: flex;
    align-items: center;
    padding: rem(13) 0;
}
