@use "global" as *;

.faq {

}

.faq__inner {
	position: relative;
}

.faq__inner::before {
	position: absolute;
    content: "";
    width: rem(120);
    height: rem(55);
    left: calc(52.3% - min(48vw, rem(650)));
    top:  rem(-24);
    z-index: -1;
    background: url(../images/common/voice-fish.svg) center center / contain no-repeat;
    @include mq("md") {
        width: rem(308);
        height: rem(138);
        top: rem(-70);
    }
}

.faq-list__item {
	max-width: rem(700);
	width: 100%;
	margin-inline: auto;
    background-color: #fff;
    box-shadow: 0 0 rem(40) 0 rgba(0, 0, 0, .05);
}

.faq-list__item + .faq-list__item {
    margin-top: rem(39.8);
}

.faq-list__item-question {
    position: relative;
	padding-block: rem(15.5);
	padding-inline: rem(16);
    font-size: rem(16);
	color: $white;
	background-color: $green-accent;
    cursor: pointer;
    @include mq(md){
		padding-block: rem(25);
		padding-inline: rem(40);
        font-size: rem(20);
    }
}

.faq-list__item-question {
	position: relative;
}

.faq-list__item-question::before {
	background-color: $white;
	content: "";
	height: 1px;
	position: absolute;
	right: rem(15);
	top: 50%;
	transform: rotate(90deg);
	transition: transform .3s ease-in-out;
	width: rem(28);
	@include mq("md") {
	  right: rem(40);
	  width: rem(32);
	}
}

.faq-list__item-question::after {
	background-color: $white;
	content: "";
	height: 1px;
	position: absolute;
	right: rem(15);
	top: 50%;
	transition: opacity .3s ease-in-out;
	width: rem(28);
	@include mq("md") {
	  right: rem(40);
	  width: rem(32);
	}
}

.faq-list__item-question.is-open::before {
    transform: translateY(-50%) rotate(180deg);
}

.faq-list__item-answer {
	padding-inline: rem(16);
	padding-block: rem(22.5);
    display: none;
    font-size: rem(16);
	line-height: 1.45;
	border: solid 1px $green-accent;
    @include mq(md){
		padding-block: rem(39);
		padding-inline: rem(40);
        font-size: rem(16);
		margin-top: rem(16);
    }
}



