@use "global" as *;

.information {
    padding: rem(86) 0;
    @include mq("md") {
        padding: rem(100) 0;
    }
}


.information-tab__wrap {
    margin-top: rem(28);
    border: 1px solid $green-accent;
    padding:  rem(23);
    @include mq("md") {
        margin-top: rem(40);
        display: flex;
        gap: 4.444444%;
    }
}



.information-tab__content {
    @include mq("md") {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.information-tab__head {
    font-size: rem(24);
    font-weight: $bold;
    color: $green;
    line-height: 1;
    border-bottom: 1px solid $green-accent;
    padding-bottom: rem(4);
    @include mq("md") {
        font-size: rem(24);
        padding-bottom: rem(8);
    }
}

.information-tab__text {
    margin-top: rem(8);
    font-size: rem(16);
    font-weight: $regular;
    line-height: calc(24 / 16);
    color: $green;
    @include mq("md") {
    }
}

.information-tab__image {
    margin-top: rem(8);
    @include mq("md") {
        @include mq("md") {
            width: 50%;
        }
    }
}

.information-tab__image img {
    aspect-ratio: 297 /189;
    object-fit: cover;
    width: 100%;
    height: 100%;
}