@use "global" as *;

.menu-title {
    color: $white;
    font-size: rem(16);
    font-weight: $bold;
    line-height: calc(18 / 16);
    position: relative;
}

.menu-title::before {
    position: absolute;
    z-index: 100;
    content: "";
    width: rem(18);
    height: rem(18);
    left: rem(-20);
    top: rem(10);
    background: url(../images/common/starfish.svg) center center / contain no-repeat;
}
