@use "global" as *;

.section-sub-title {
    font-family: $font-jp;
    display: block;
    font-size: rem(12);
    font-weight: $regular;
    line-height: 1;
    color: $green-accent;
}

.section-sub-title.section-sub-title--white {
    @include mq("md") {
        color: $white;
    }
}
