@use "global" as *;

.section-sub-title {
    display: block;
    font-size: rem(12);
    font-weight: $regular;
    line-height: 1;
    color: $green-accent;
    padding-top: rem(4);
    @include mq("md") {
        padding-top: rem(8);
    }
}

.center {
    text-align: center;
}
