@use "global" as *;

.section-title {
    font-family: $font-en2;
    display: block;
    font-size: rem(32);
    font-weight: $regular;
    line-height: 1;
    text-transform: capitalize;
    color: $green;
    @include mq("md") {
        font-size: rem(40);
    }
}

.section-title span {
    text-transform: lowercase;
}

.section-title::first-letter {
    color: $green-accent;
}

.section-title.section-title--white {
    @include mq("md") {
        color: $white;
    }
}

.section-title.section-title--white::first-letter {
    @include mq("md") {
        color: $white;
    }
}

.section-title.section-title--large {
    font-size: rem(80);
}
