@use "global" as *;

.section-title {
    display: block;
    font-size: rem(32);
    font-weight: $regular;
    line-height: 1;
    text-transform: capitalize;
    color: $green;
    @include mq("md") {
        font-size: rem(40);
    }
}

.section-title::first-letter {
    color: $green-accent;
}


