@use "global" as *;

.side-menu-title {
    border-left: rem(10) solid $green-accent;
    font-size: rem(24);
    font-weight: $regular;
    line-height: 1;
    padding-left: rem(16);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.side-menu-title::before {
    content: "";
    width: rem(50);
    height: rem(50);
    background-image: url(../images/common/tab-menu-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: rem(8);
}
