@use "global" as *;

.top-blog {
    @include mq("md") {
        background: linear-gradient(to bottom, transparent 60%, white 60%),
            url("../images/common/blog-bg.webp");
        background-size: cover;
        padding-top: rem(100);
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.top-blog__inner {
    position: relative;
}

.top-blog__title-wrap {
    text-align: center;
}

.top-blog__sub-title {
    margin-top: rem(12);
    @include mq("md") {
    }
}

.top-blog__list {
    max-width: rem(600);
    width: 100%;
    margin-inline: auto;
    margin-top: rem(30);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: rem(40);
    @include mq("md") {
        max-width: initial;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        margin-top: rem(80);
    }
}

.top-blog__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: rem(37);
    @include mq("md") {
        margin-top: rem(80);
    }
}

.top-blog__fish-image {
    position: absolute;
    content: "";
    width: rem(431);
    height: rem(200);
    left: calc(53% - min(50vw, rem(650)));
    top: rem(-75);
    background: url(../images/common/blog-fish.svg) center center / contain no-repeat;
}
