@use "global" as *;

.top-mv {
    min-height: rem(350);
    height: 100vh;
    position: relative;
    @include mq("md") {
        min-height: rem(400);
    }
}

.top-mv__inner {
    height: inherit;
    min-height: inherit;
}

.top-mv__swiper,
.top-mv__swiper-wrapper,
.top-mv__swiper-slide {
    height: inherit;
    min-height: inherit;
}

.top-mv__picture {
    display: block;
    height: inherit;
    min-height: inherit;
}


.top-mv__picture img {
    height: inherit;
    min-height: inherit;
    object-fit: cover;
}


.top-mv__title-content {
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 100;
    width: fit-content;
    line-height: 1;
}

.top-mv__title {
    font-size: rem(40);
    font-weight: $regular;
    letter-spacing: 0.54em;
    font-family: $base-en;
    text-transform: uppercase;
    @include mq("md") {
        font-size: rem(80);
    }
}

.top-mv__title-sub {
    font-size: rem(20);
    font-weight: $regular;
    margin-top: rem(7);
}
