@use "global" as *;

.top-voice {
}

.top-voice__inner {
    position: relative;
}

.top-voice__title-wrap {
    text-align: center;
}

.top-voice__sub-title {
    margin-top: rem(13);
}

.top-voice__list {
    margin-top: rem(24);
    display: grid;
    gap: rem(40);
    grid-template-rows: 1fr;
    @include mq("md") {
        margin-top: rem(40);
        grid-template-columns: repeat(2, 1fr);
    }
}

.top-voice__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: rem(40);
    @include mq("md") {
        margin-top: rem(80);
    }
}

.top-voice__fish-image {
    position: absolute;
    content: "";
    width: rem(308);
    height: rem(138);
    left: calc(52.5% - min(50vw, rem(650)));
    top: rem(-118);
    background: url(../images/common/voice-fish.svg) center center / contain no-repeat;
}

.top-voice__seahorse-image {
    position: absolute;
    content: "";
    width: rem(71);
    height: rem(162);
    right: rem(25);
    bottom: rem(-70);
    background: url(../images/common/voice-seahorse.svg) center center / contain no-repeat;
}
