@use "global" as *;

.top-contact {
    padding-top: rem(80);
    @include mq("md") {
        padding-top: rem(140);
    }
}

.top-contact__inner {
    position: relative;
}

.top-contact__container {
    @include mq("md") {
        background: $white;
        box-shadow: rem(4) rem(4) rem(10) 0 rgba(0, 0, 0, 0.25);
        display: flex;
        padding-top: rem(78);
        padding-bottom: rem(80);
    }
}

.top-contact__access-content {
    @include mq("md") {
        width: 50%;
        padding-inline: rem(50);
    }
}

.top-contact__info-content {
    padding-top: rem(34);
    @include mq("md") {
        width: 44.25%;
        margin-inline: auto;
        border-left: rem(1) solid $green-accent;
        padding-top: rem(23);
    }
}

.top-contact__logo {
    border-bottom: rem(1) solid $green-accent;
    padding-bottom: rem(8);
}

.top-contact__logo a {
    display: block;
    max-width: rem(174);
    width: 100%;
    margin-inline: auto;
    @include mq("md") {
        max-width: rem(200);
    }
}

.top-contact__access {
    margin-top: rem(16);
    @include mq("md") {
        display: flex;
    }
}

.top-contact__text-wrap {
    text-align: center;
    color: $green;
    font-family: $font-jp;
    font-weight: $regular;
    line-height: calc(24 / 16);
    @include mq("md") {
        margin-top: rem(8);
    }
}

.top-contact__text:not(:first-child) {
    margin-top: rem(4);
}

.top-contact__map {
    max-width: rem(600);
    width: 100%;
    margin-inline: auto;
    margin-top: rem(16);
    @include mq("md") {
        margin-top: initial;
        width: calc(273 / 440) * 100%;
        margin-left: rem(20);
    }
}

.top-contact__map iframe {
    aspect-ratio: 295/160;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.top-contact__title-wrap {
    text-align: center;
}

.top-contact__info {
    font-size: rem(14);
    color: $green-accent;
    font-weight: $regular;
    line-height: 1;
    margin-top: rem(8);
}

.top-contact__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: rem(40);
}

.top-contact__sea-goldie-image {
    position: absolute;
    content: "";
    width: rem(109);
    height: rem(50);
    right: calc(52% - min(48vw, rem(650)));
    top: rem(-24);
    background: url(../images/common/contact-sea-goldie.svg) center center / contain no-repeat;
    @media (orientation: landscape) and (max-width: 767px) {
        right: calc(52% - min(44vw, rem(650)));
    }
    @include mq("md") {
        width: rem(301);
        height: rem(138);
        right: calc(48% - min(48vw, rem(650)));
        top: rem(-41);
    }
}
// @-moz-document url-prefix() {
// }
